@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap");
header .navbar .navbar-toggler {
  border: none;
}

header .navbar .navbar-toggler:focus {
  outline: none;
}

header .navbar .navbar-toggler-hamburger__outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: none;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner {
  width: 3rem;
  height: 0.4rem;
  background: #333;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px #333;
          box-shadow: 0 2px 5px #333;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::before, header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.4rem;
  background: #333;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px #333;
          box-shadow: 0 2px 5px #333;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::before {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
  display: block;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::after {
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
  display: block;
}

header .navbar [aria-expanded="true"] .navbar-toggler-hamburger__inner {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar [aria-expanded="true"] .navbar-toggler-hamburger__inner::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .navbar [aria-expanded="true"] .navbar-toggler-hamburger__inner::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

header .navbar #navbarNav .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  text-align: center;
}

.productos {
  margin-top: 3rem;
}

.productos .container .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.productos .container .product-card .product-card__txt {
  width: 70%;
}

.productos .container .product-card .product-card__txt h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.productos .container .product-card .product-card__txt .desc {
  margin-bottom: 0.2rem;
  text-align: center;
}

.productos .container .product-card .product-card__txt .origin {
  text-transform: capitalize;
  text-align: center;
  font-size: 0.9em;
}

@media screen and (min-width: 768px) {
  .productos .container .product-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .productos .container .product-card .product-card__txt {
    width: 50%;
  }
  .productos .container .product-card .product-card__txt h3 {
    text-align: left;
  }
  .productos .container .product-card .product-card__txt .desc {
    text-align: left;
  }
  .productos .container .product-card .product-card__txt .origin {
    margin-top: 0.5rem;
    text-align: left;
  }
}

footer {
  height: 10vh;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left {
  width: 50%;
  text-align: center;
  color: #f2f2f2;
}

footer .right {
  width: 50%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.section__title {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

header .navbar .navbar-toggler {
  border: none;
}

header .navbar .navbar-toggler:focus {
  outline: none;
}

header .navbar .navbar-toggler-hamburger__outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: none;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner {
  width: 3rem;
  height: 0.4rem;
  background: #333;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px #333;
          box-shadow: 0 2px 5px #333;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::before, header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.4rem;
  background: #333;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px #333;
          box-shadow: 0 2px 5px #333;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::before {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
  display: block;
}

header .navbar .navbar-toggler-hamburger__outer .navbar-toggler-hamburger__inner::after {
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
  display: block;
}

header .navbar [aria-expanded="true"] .navbar-toggler-hamburger__inner {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar [aria-expanded="true"] .navbar-toggler-hamburger__inner::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .navbar [aria-expanded="true"] .navbar-toggler-hamburger__inner::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

header .navbar #navbarNav .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  text-align: center;
}

.banner {
  height: 85vh;
  width: 100%;
  background-image: url(../assets/banner/banner-xs.png);
  background-size: cover;
}

@media screen and (min-width: 576px) {
  .banner {
    background-image: url(../assets/banner/banner-md.png);
  }
}

@media screen and (min-width: 992px) {
  .banner {
    background-image: url(../assets/banner/banner-xl.jpg);
  }
}

.banner .banner__fade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner__fade .banner__title {
  text-transform: uppercase;
  text-align: center;
}

.banner .banner__fade .banner__subtitle {
  text-transform: capitalize;
  text-align: center;
}

.services .wrapper {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
}

.services .wrapper .bubble .bubble__icon {
  background: #a0a0a0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .wrapper .bubble .bubble__content {
  text-align: center;
  max-width: 20rem;
  margin: auto;
}

.services .wrapper .bubble .bubble__content h4 {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .services .wrapper .bubble {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
  }
  .services .wrapper .bubble-left .bubble__icon {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .services .wrapper .bubble-left .bubble__content {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .services .wrapper .bubble-right .bubble__icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .services .wrapper .bubble-right .bubble__content {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.prod {
  display: block;
}

.prod .wrapper {
  width: 85%;
  margin: auto;
}

.prod .wrapper .card {
  position: relative;
  border: none;
  background: #f2f2f2;
}

.prod .wrapper .card .card__img {
  margin: auto;
  display: block;
  height: auto;
}

.prod .wrapper .card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.prod .wrapper .card .overlay .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.prod .wrapper .card .card__title {
  text-align: center;
  text-transform: uppercase;
}

.prod .wrapper .card:hover .card__img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.prod .wrapper .card:hover .overlay {
  opacity: 1;
}

.contact {
  margin-bottom: 3rem;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .form-wrap {
  margin-top: 2rem;
}

.contact .container .form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .form-wrap form .form-group {
  width: 90%;
}

.contact .container .form-wrap form .form-group input:focus {
  outline: #333;
  border: #333;
  -webkit-box-shadow: 0 0 2px #333;
          box-shadow: 0 0 2px #333;
}

.contact .container .form-wrap form .form-group textarea {
  resize: none;
}

.contact .container .form-wrap form .form-group textarea:focus {
  outline: #333;
  border: #333;
  -webkit-box-shadow: 0 0 2px #333;
          box-shadow: 0 0 2px #333;
}

.contact .container .form-wrap form button {
  border-radius: 5px;
  text-transform: capitalize;
  background: #333;
  color: #ffff;
  border: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.contact .container .form-wrap form button:focus {
  outline: none;
}

.contact .container .form-wrap form button:active {
  background: #333;
  outline: none;
}

.contact .container .map-wrap {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .map-wrap .map-card {
  margin-top: 1rem;
}

.contact .container .map-wrap .map-card iframe {
  width: 250px;
  height: 175px;
}

.contact .container .map-wrap .map-card .map-info h4 {
  text-transform: uppercase;
}

.contact .container .map-wrap .map-card .map-info .map-info__txt img {
  margin-right: 1rem;
}

@media screen and (min-width: 576px) {
  .contact .container .map-wrap .map-card {
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .container .map-wrap .map-card iframe {
    width: 200px;
    height: 150px;
  }
  .contact .container .map-wrap .map-card .map-info {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .contact .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .container .form-wrap {
    width: 50%;
  }
  .contact .container .map-wrap {
    margin-top: 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .container .map-wrap .map-card {
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .contact .container .map-wrap .map-card .map-info {
    margin-left: 1rem;
  }
}

footer {
  height: 4rem;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left {
  width: 50%;
  text-align: center;
  color: #fff;
}

footer .right {
  width: 50%;
  text-align: center;
}

.modal .modal-title {
  margin: auto;
  text-transform: uppercase;
}

.modal a {
  border-radius: 5px;
  text-transform: capitalize;
  background: #333;
  color: #ffff;
  border: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.modal a:focus {
  outline: none;
}

.modal a:active {
  background: #333;
  outline: none;
}
/*# sourceMappingURL=styles.css.map */