html {
  scroll-behavior: smooth;
}
.section__title {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
// NAVBAR
header {
  .navbar {
    .navbar-toggler {
      border: none;
      &:focus {
        outline: none;
      }
    }
    .navbar-toggler-hamburger__outer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      border: none;
      .navbar-toggler-hamburger__inner {
        width: 3rem;
        height: 0.4rem;
        background: #333;
        border-radius: 5px;
        box-shadow: 0 2px 5px #333;
        transition: all 0.5s ease-in-out;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 3rem;
          height: 0.4rem;
          background: #333;
          border-radius: 5px;
          box-shadow: 0 2px 5px #333;
          transition: all 0.5s ease-in-out;
        }
        &::before {
          transform: translateY(-0.8rem);
          display: block;
        }
        &::after {
          transform: translateY(0.8rem);
          display: block;
        }
      }
    }
    [aria-expanded="true"] .navbar-toggler-hamburger__inner {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
      &::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      &::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }

    #navbarNav {
      .navbar-nav {
        .nav-item {
          .nav-link {
            text-transform: capitalize;
            text-align: center;
          }
        }
      }
    }
  }
}
.banner {
  height: 85vh;
  width: 100%;
  background-image: url(../assets/banner/banner-xs.png);
  background-size: cover;
  .banner__fade {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .banner__title {
      text-transform: uppercase;
      text-align: center;
    }
    .banner__subtitle {
      text-transform: capitalize;
      text-align: center;
    }
  }
  @media screen and (min-width: 576px) {
    background-image: url(../../assets/banner/banner-md.png);
  }
  @media screen and (min-width: 992px) {
    background-image: url(../../assets/banner/banner-xl.jpg);
  }
}
// SERVICES
.services {
  .wrapper {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    .bubble {
      .bubble__icon {
        background: rgb(160, 160, 160);
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .bubble__content {
        text-align: center;
        max-width: 20rem;
        margin: auto;
        h4 {
          text-transform: uppercase;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .bubble {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 3rem;
      }
      .bubble-left {
        .bubble__icon {
          grid-column: 2;
        }
        .bubble__content {
          grid-row: 1;
          grid-column: 1;
        }
      }
      .bubble-right {
        .bubble__icon {
          order: 2;
        }
        .bubble__content {
          order: 3;
        }
      }
    }
  }
}
// PRODUCTS
.prod {
  display: block;
  .wrapper {
    width: 70%;
    margin: auto;
    .card {
      position: relative;
      border: none;
      .card__img {
        margin: auto;
        display: block;
        height: auto;
        width: 90%;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s ease;
        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
      .card__title {
        text-align: center;
        text-transform: uppercase;
      }
      &:hover {
        .card__img {
          filter: blur(2px);
        }
        .overlay {
          opacity: 1;
        }
      }
    }
  }
}

// FOOTER
footer {
  height: 4rem;
  background: #333;
  display: flex;
  align-items: center;
  .left {
    width: 50%;
    text-align: center;
    color: #fff;
  }
  .right {
    width: 50%;
    text-align: center;
  }
}
